.app-footer{
  width:100%;
  height:$footerHeight;
  background: {
    color:$lightGray;
  };
  position:absolute;
  left:0;
  bottom:0;

  .footer-copy{
    font: {
      size: 12px;
    }
    color: #999;
    text-align:center;
    line-height:$footerHeight;
  }
}